<section>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2><%= @student.first_name %> <%= @student.last_name %></h2>
      <h4><%= @student.email %></h4>
      <h4><%= @student.phone_number %></h4>
      <p><%= @student.short_bio %></p>

      <div class="col-sm-6">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="tabular_info">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab">Experience</a></li>
            <li role="presentation"><a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a></li>
            <li role="presentation"><a href="#capstone" aria-controls="capstone" role="tab" data-toggle="tab">Capstone</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="experience">...</div>
            <div role="tabpanel" class="tab-pane" id="education">...</div>
            <div role="tabpanel" class="tab-pane" id="capstone">...</div>
          </div>
        </div><!--end tabular_info-->

    </div>
  </div>
</section>

